// 基本色
$base-color: #d01423;
// 纯黑
$black: #000000;
// 纯白
$white: #ffffff;
// 页面背景色
$page-background: #efeff4;

// header头部高度
$du-header-h: 56px;

// 文字大小
$font-size-big: 18px;
$font-size-default: 16px;
$font-size-small: 15px;